<!DOCTYPE html>
<html>
<head>
  <title>Quickquotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<div class="col-xs-3">
      <%= link_to root_path, class: 'logo'  do %>
      <div class="circle">
        <br />
        Don't Panic
        <br />
        42
        <br />
        So long
      </div>
	  <% end %>
</div>
<div class="col-xs-4 slogan">
Quoting the RocketPower Hawaiian Ancients quotes you love at you whenever you need your daily dose of philosophy

</div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', new_quote_path %>
      <%= link_to 'About', '#' %>
    </div>
</header>
<hr />
<br class="clear" />
  <div class='container'>
      <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
	      <% end %>
<%= yield %>
</div>
<div class='footer'>
<div class='container'>
      <div class="col-xs-6">
<%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurp">
        Made from a random couch in a random living room,by Florian Beijers.
		<br />
        Guidance from <a href="www.thefirehoseproject.com">The Firehose Project</a>
		
      </div>
</div>
</div>


</body>
</html>
