<!DOCTYPE html>
<html>
<head>
  <title>Quickquotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
</header>
<div class="col-xs-3">
      <div class="circle">
        <br />
        Don't Panic
        <br />
        42
        <br />
        So long
      </div>
</div>
<div class="col-xs-4 slogan">
Quoting the RocketPower Hawaiian Ancients quotes you love at you whenever you need your daily dose of philosophy

</div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
</header>
<hr />
<br class="clear" />
  <div class='container'>
<%= yield %>
</div>
<div class='footer'>
<div class='container'>
      <div class="col-xs-6">
        <%= link_to "This isn't enough, I need more", "#", class: 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurp">
        Made from a random couch in a random living room,by Florian Beijers.
		<br />
        Guidance from <a href="www.thefirehoseproject.com">The Firehose Project</a>
		
      </div>
</div>
</div>


</body>
</html>
