<!DOCTYPE html>
<html>
<head>
  <title>Quickquotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
</header>
<div class="col-xs-3">
logo
</div>
<div class="col-xs-4">
Quoting the RocketPower Hawaiian Ancients quotes you love at you whenever you need your daily dose of philosophy

</div>
    <div class="col-xs-5">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
</header>
<br class="clear" />

<%= yield %>

</body>
</html>
